<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title><%=title%></title>
</head>
<body>
	<ul>
		<li><%=movie.doctor%></li>
		<li><%=movie.languge%></li>
		<li><%=movie.summary%></li>
		<li><%=movie.flash%></li>
		<li><%=movie.year%></li>
		<li><%=movie.meta['createAt']%></li>
		<li><%=movie.meta['updateAt']%></li>
	</ul>
</body>
</html>